<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/assets/js/exploitcore.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/img/logo.png">
    <title>Admin</title>
    <meta name="google-site-verification" content="cVhq9ZfHrhmrGg9b98xy7u8mVKhpRCEd7H4EGivGIQU" />
    <meta name="keywords" content="Twitch, Bots, Follower, Follow Bots, Exploit, Shop, Views, View Bot, TikTok, Anime Generator, Hentai Generator"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/admin.css">
    <script language="JavaScript">
      //////////F12 disable code////////////////////////
            document.onkeypress = function (event) {
                event = (event || window.event);
                if (event.keyCode == 123) {
                   //alert('No F-12');
                    return false;
                }
            }
            document.onmousedown = function (event) {
                event = (event || window.event);
                if (event.keyCode == 123) {
                    //alert('No F-keys');
                    return false;
                }
            }
        document.onkeydown = function (event) {
                event = (event || window.event);
                if (event.keyCode == 123) {
                    //alert('No F-keys');
                    return false;
                }
            }
        var message=":o";      
        function clickIE() {if (document.all) {(message);return false;}}
        function clickNS(e) {if
        (document.layers||(document.getElementById&&!document.all)) {
        if (e.which==2||e.which==3) {(message);return false;}}}
        if (document.layers)
        {document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;}
        else{document.onmouseup=clickNS;document.oncontextmenu=clickIE;}
        document.oncontextmenu=new Function("return false")
        function disableCtrlKeyCombination(e)
        {
        var forbiddenKeys = new Array('a', 'n', 'c', 'x', 'v', 'j' , 'w');
        var key;
        var isCtrl;
        if(window.event)
        {
        key = window.event.keyCode;
        if(window.event.ctrlKey)
        isCtrl = true;
        else
        isCtrl = false;
        }
        else
        {
        key = e.which;
        if(e.ctrlKey)
        isCtrl = true;
        else
        isCtrl = false;
        }
        if(isCtrl)
        {
        for(i=0; i<forbiddenKeys.length; i++)
        {
        if(forbiddenKeys[i].toLowerCase() == String.fromCharCode(key).toLowerCase())
        {
        alert('Key combination CTRL + '+String.fromCharCode(key) +' has been disabled.');
        return false;
        }
        }
        }
        return true;
        }
    </script>
</head>
<body>
    <div class="logo">
        <img src="/assets/img/longlogo.png">
    </div>
    <strong>
        Welcome to EXPLOIT-COMMUNTIY!
    </strong>
    <section class="main-section">
        <div class="main">
            <strong>
                <label for="main">ADMIN PANEL</label><br>
            </strong><br>
            <a href="/dashboard"><button class="btn btn-primary">Dashboard</button></a>
        </div>
    </section>
    <section id="all-user-section">
        <div class="scroll-container">
            <div class="list">
                <% AllUser.forEach(function(data) {%>
                    <div class="position">
                        Username:
                        <a style="color: red;">
                            <%- data['username'] %>
                        </a>
                        Email:
                        <a style="color: red;">
                            <%- data['email'] %>
                        </a>
                        Rank:
                        <a style="color: red;">
                            <%- data['rank'] %>
                        </a>
                        Banned:
                        <a style="color: red;">
                            <%- data['banned'] %>
                        </a>
                    </div>
                 <%})%>
            </div>
        </div>
    </section>
    <section id="all-invites-section">
        <div class="scroll-container">
            <div class="list">
                <% Invites.forEach(function(data) { %>
                    <div class="list-item">
                        <div class="position">
                            Code:
                            <a style="color: red;">
                                <%- data['code']%>
                            </a>
                            User:
                            <a style="color: red;">
                                <%- data['by']%>
                            </a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <form action="/api/add_invitekey_admin" method="POST">
            <br>
            <button type="submit" class="btn btn-primary">Add Invite</button>
        </form>
    </section>
    <section id="member-control-section">
        <form name="member-control-form" method="POST" action="/api/manage_member_entry">
            <input type="email" name="email" class="form-control" id="email" placeholder="User E-Mail"><br>
            <select name="action" id="action" class="form-control">
                <option selected>Action?</option>
                <option value="ban">Ban</option>
                <option value="unban">Unban</option>
                <option value="delete">Delete</option>
                <option value="hwid">HWID Reset</option>
            </select><br>
            <select name="rank" id="rank" class="form-control">
                <option selected value="none">New Rank?</option>
                <option value="User">User</option>
                <option value="Premium">Premium</option>
                <option value="VIP">VIP</option>
                <option value="Support">Support</option>
                <option value="Developer">Developer</option>
                <option value="Admin">Admin</option>
            </select><br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
</body>
</html>