<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/img/logo.png">
    <title>EXPLOIT | Dashboard</title>
    <meta name="google-site-verification" content="cVhq9ZfHrhmrGg9b98xy7u8mVKhpRCEd7H4EGivGIQU" />
    <meta name="keywords" content="Twitch, Bots, Follower, Follow Bots, Exploit, Shop, Views, View Bot, TikTok, Anime Generator, Hentai Generator"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/loader.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://autobuy.io/js/embed.min.js"></script>
    <link rel="stylesheet" href="/assets/css/popup.css">
    <script src="/assets/js/utils.js"></script>
    <script language="JavaScript">
		//////////F12 disable code////////////////////////
          document.onkeypress = function (event) {
              event = (event || window.event);
              if (event.keyCode == 123) {
                 //alert('No F-12');
                  return false;
              }
          }
          document.onmousedown = function (event) {
              event = (event || window.event);
              if (event.keyCode == 123) {
                  //alert('No F-keys');
                  return false;
              }
          }
      document.onkeydown = function (event) {
              event = (event || window.event);
              if (event.keyCode == 123) {
                  //alert('No F-keys');
                  return false;
              }
          }
      var message=":o";      
      function clickIE() {if (document.all) {(message);return false;}}
      function clickNS(e) {if
      (document.layers||(document.getElementById&&!document.all)) {
      if (e.which==2||e.which==3) {(message);return false;}}}
      if (document.layers)
      {document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;}
      else{document.onmouseup=clickNS;document.oncontextmenu=clickIE;}
      document.oncontextmenu=new Function("return false")
      function disableCtrlKeyCombination(e)
      {
      var forbiddenKeys = new Array('a', 'n', 'c', 'x', 'v', 'j' , 'w');
      var key;
      var isCtrl;
      if(window.event)
      {
      key = window.event.keyCode;
      if(window.event.ctrlKey)
      isCtrl = true;
      else
      isCtrl = false;
      }
      else
      {
      key = e.which;
      if(e.ctrlKey)
      isCtrl = true;
      else
      isCtrl = false;
      }
      if(isCtrl)
      {
      for(i=0; i<forbiddenKeys.length; i++)
      {
      if(forbiddenKeys[i].toLowerCase() == String.fromCharCode(key).toLowerCase())
      {
      alert('Key combination CTRL + '+String.fromCharCode(key) +' has been disabled.');
      return false;
      }
      }
      }
      return true;
      }
	</script>
</head>
<body onload="loading()">
    <div class="loader-wrapper" id="loader">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
<div class="et-hero-tabs-container">
    <a class="et-hero-tab" target="_blank" href="/discord">Discord</a>
    <a class="et-hero-tab" target="_blank"  href="/donate">Donate</a>
    <a class="et-hero-tab" target="_blank"  href="/yaquna">Yaquna</a>
    <a class="et-hero-tab" href="/faq">FAQ</a>
    <span class="et-hero-tab-slider"></span>
</div>
<div class="container" id="content" style="display: none;"> 
    <div class="welcome">
        <img src="/assets/img/longlogo.png"><br>
        <font size="100">Welcome <font id="<%= User.rank %>"><% if (User.rank == "Admin") {
            %> <small>
                <small>ADMIN</small>
                </small> <%
        } %>
        <% if (User.rank == "Premium") {
            %> <small>
                Premium
            </small> <%
        } %>
        <% if (User.rank == "VIP") {
            %> <small>
                VIP
            </small> <%
        } %>
        <% if (User.rank == "Developer") {
            %> <small>
                Dev
            </small> <%
        } %>
        <% if (User.rank == "Support") {
            %> <small>
                Support
            </small> <%
        } %><%= User.username %></font></font>
    </div>
    <section id="user-control-panel-section">
            <div class="user-control-panel">
                <strong>
                    <label for="user-control-panel">USER CONTROL PANEL</label><br>
                </strong>
                <label>Email: <%= User.email %></label><br>
                <label>Rank: <font id="<%= User.rank %>"><%= User.rank %></font></label><br>
                <label>Username: <%= User.username %></label><br>
                <label>Invited by: <%= User.invitedBy %></label><br>
                <label>Points: <%= User.points %></label><br>
                <label>In Giveaway: <%= User.giveaway %></label><br>
                <label><a href="/users/settings">User Settings</a></label>
                <form action="/users/logout" class="LogoutForm" method="POST">
                    <button style="margin-top: 1%;" type="submit" class="btn btn-primary">Logout</button>
                </form>
            </div>
    </section>
    <section id="download-section">
        <div class="download">
            <strong><label for="download">Downloads</label></strong><br><br>
            <a href="/assets/downloads/ExploitTool.zip"><button class="btn btn-primary">ExploitTool</button></a>
        </div>
    </section>
    <section id="shop-section">
        <div class="shop">
            <strong><label for="shop">SHOP<br>PAYPAL ON DISCORD</label><br></strong>
            <img src="/assets/img/twitch.png" width="5%" height="5%" style="margin-bottom: 1.5%;"><br>
            <button class="btn btn-primary" data-autobuy-product="707d2c93-65f6-4cdf-cbc7-08d8cddc78e6">Twitch Follower</button>
            <br><br>
            <label>Status: <font color="red">UPDATE</font></label><br>
            <img src="/assets/img/nordvpn.png" width="6%" height="6%" style="margin-bottom: 1.5%; margin-top: 1%;"><br>
            <button class="btn btn-primary" data-autobuy-product="96252199-8fbb-4e8f-0702-08d8d0580b49">NordVPN Account</button><br><br>
            <label>Status: <font color="red">UPDATE</font></label><br>
            <img src="/assets/img/tiktok.png" width="4%" height="4%" style="margin-bottom: 1.5%; margin-top: 1%;"><br>
            <button class="btn btn-primary" data-autobuy-product="64118ec6-8d00-4d7c-0033-08d8cff827ce">Tiktok Views</button><br><br>
            <label>Status: <font color="red">UPDATE</font></label><br>
            <!--
            <img src="/assets/img/discord.png" width="4%" height="4%" style="margin-bottom: 1.5%; margin-top: 1%;"><br>
            <button class="btn btn-primary" data-autobuy-product="019d4d70-e24a-4cdc-003f-08d8cff827ce">Discord Raid</button><br><br>
            <label>Status: <font color="red">DETECTED</font></label><br><br>
            --><br>
            <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank"><button class="btn btn-primary">Get all for Free</button></a>
        </div>
    </section>
<% if (User.rank == "Admin" || User.rank == "Developer" || User.rank == "Support") { %>
    <section id="all-user-section">
        <strong>
        <label for="all-user-section">ALL USERS</label>
        </strong>
        <div class="scroll-container">
            <div class="list">
                <% AllUser.forEach(function(data) { %>
                    <div class="list-item">
                        <div class="position">
                            Username:
                            <a style="color: red;">
                                <%- data['username']%>
                            </a>
                            Rank:
                            <a style="color: red;">
                                <%- data['rank']%>
                            </a>
                            Banned:
                            <a style="color: red;">
                                <%- data['banned'] %>
                            </a>
                            E-MAIL:
                            <a style="color: red;">
                                <%- data['email'] %>
                            </a>
                            Invited by:
                            <a style="color: red;">
                                <%- data['invitedBy'] %>
                            </a>
                            Points:
                            <a style="color: red;">
                                <%- data['points'] %>
                            </a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
    <section id="all-invites-section">
        <strong>
        <label for="all-invites-section">ALL INVITES</label>
        </strong>
        <div class="scroll-container">
            <div class="list">
                <% Invites.forEach(function(data) { %>
                    <div class="list-item">
                        <div class="position">
                            Code:
                            <a style="color: red;">
                                <%- data['code']%>
                            </a>
                            User:
                            <a style="color: red;">
                                <%- data['by']%>
                            </a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <form action="/api/add_invitekey_admin" method="POST">
            <br>
            <button type="submit" class="btn btn-primary">Add Invite</button>
        </form>
    </section>
    <section id="member-control-section">
        <strong>
            <label for="member-control-section">MEMBER CONTROL</label>
        </strong>
        <form name="member-control-form" method="POST" action="/api/manage_member_entry">
            <input type="email" name="email" class="form-control" id="email" placeholder="User E-Mail"><br>
            <select name="action" id="action" class="form-control">
                <option selected>Action?</option>
                <option value="ban">Ban</option>
                <option value="unban">Unban</option>
                <option value="delete">Delete</option>
                <option value="hwid">HWID Reset</option>
            </select><br>
            <select name="rank" id="rank" class="form-control">
                <option selected value="none">New Rank?</option>
                <option value="User">User</option>
                <option value="Premium">Premium</option>
                <option value="VIP">VIP</option>
                <option value="Support">Support</option>
                <option value="Developer">Developer</option>
                <option value="Admin">Admin</option>
            </select><br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
<% } %>
</div>
<script src="/assets/js/loader.js"></script>
</body>
</html>
